.modalWrapper {
  /* height: 70px; */
  display: inline-block;
  background-color: blue;
  border-radius: 10px;
  background-color: rgba(75, 83, 99, 0.9);
  justify-content: center;
  /* position: relative; */
}

.modal {
  height: 40px;
  /* border-radius: 10px; */
  /* background-color: rgba(75, 83, 99, 0.9); */
  /* position: absolute; */
  display: flex;
  align-content: flex-start;
  align-items: center;
}

.modalInput {
  background: transparent;
  border: none;
  width: 100%;
  height: 32px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
}

.modalInput::placeholder {
  color: white;
  opacity: 0.3;
  font-size: 13px;
}

textarea:focus,
input:focus {
  outline: none;
}

.answer {
  font-size: 13px;
  color: white;
  /* padding: 5px; */
  overflow-y: scroll;
  /* max-height: 250px; */
}

.question {
  font-size: 13px;
  font-weight: 900;
  color: white;
  /* padding: 5px; */
  overflow-y: scroll;
  /* max-height: 250px; */
}
