.modalWrapper {
  width: 240px;
  border-radius: 10px;
  background-color: rgba(75, 83, 99, 0.9);
  overflow: hidden;
}

.modal {
  height: 40px;
  display: flex;
  align-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.modalInput {
  background: transparent;
  border: none;
  width: 100%;
  height: 32px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  overflow: hidden;
}

.modalInput::placeholder {
  color: white;
  opacity: 0.3;
  font-size: 13px;
}

textarea:focus,
input:focus {
  outline: none;
}

.answer {
  font-size: 13px;
  color: white;
  overflow: hidden;
}

.question {
  font-size: 13px;
  font-weight: 900;
  color: white;
  overflow: hidden;
}
