*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-family: Arial, sans-serif;
  position: relative;
  font-size: 16px;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  min-width: 400px;
  background-color: rgba(75, 83, 99, 0.9);
}
.modal {
  align-items: center;
  display: flex;
  position: relative;
  flex-direction: column;
}
.input-container {
  display: flex;
  gap: 10px;
  height: 40px;
  margin: 10px 0;
  width: calc(100% - 20px);
  position: relative;
  align-items: center;
}
.icon-container {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
}
.icon {
  height: 20px;
  width: 20px;
}
.input {
  flex-grow: 1;
  height: 32px;
  display: flex;
  align-items: center;
}
.modalInput {
  width: 100%;
  padding: 5px;
}
.actions {
  height: 20px;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 5px;
}
.action-button {
  font-size: 10px;
  background-color: transparent;
  border: none;
  margin-right: .8rem;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  border: 1px solid;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
.regenerate-img {
  width: 15px;
  height: 15px;
}
.answer,
.question {
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  font-size: 1rem;
}
.question {
  padding: 1rem;
  font-weight: bold;
}
.hidden {
  display: none !important;
}
.input-container .button {
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
  background-color: rgba(75, 83, 99, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#loading {
  padding: 0.35rem;
}
#loading svg {
  animation: spin 2s linear infinite;
}
#submit:disabled {
  background-color: rgba(75, 83, 99, 0.4);
}
#submit:not(:disabled) {
  cursor: pointer;
}
#submit:hover:not(:disabled) {
  background-color: rgba(75, 83, 99, 0.8);
}
#submit svg {
  width: 1rem;
  height: 1rem;
  fill: white;
}
.function_call {
  padding: 1rem;
  background-color: rgba(75, 83, 99, 0.8);
  text-align: center;
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.function_actions {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
}

.progress-container {
  width: calc(100% - 20px);
  height: 10px;
  margin-bottom: 10px;
  background-color: #e0e0e0;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  width: 0; /* You can dynamically adjust this value */
  transition: width 0.3s ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}